@mixin rating {
  span {
    color: rgb(253, 190, 30);
    &:not(:last-child) {
      margin-right: 0.1rem;
    }

    &:last-child {
      color: initial;
      font-size: 0.7rem;
      margin-left: 0.5rem;
    }
  }
}

@mixin button {
  padding: 0.5rem 1rem;
  // background: #f8d272;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  display: flex;
  margin: 0 auto;
  cursor: pointer;

  &.primary {
    background-color: #f0c040;
  }
  &.block {
    width: 100%;
    justify-content: center;
  }

  &:hover {
    background-color: darken(#f0c040, 10%);
  }
}
