@import './mixins';
@import './spinner';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}

/* Commons */
img {
  width: 100%;
}

a {
  text-decoration: none;
  // &:hover {
  //   color: #ff8000;
  // }
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  #qty {
    padding: 0.2rem;
    border-radius: 3px;
    font-size: 0.9rem;
  }

  &.center {
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
  }

  &.top {
    // align-items: flex-start;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    gap: 1rem;
    align-items: flex-start;
    height: 100%;
    margin: 1rem 0;

    .col-1 {
      @include rating;
      .card {
        max-width: 400px;
      }
      ul {
        li {
          h1 {
            text-transform: capitalize;
          }
          p {
            margin: 0.5rem 0;
            &::first-letter {
              text-transform: capitalize;
            }
          }
        }

        li:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .card-body {
        padding: 1rem;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;

        li {
          button {
            @include button;
          }
        }
      }
    }

    .col-2 {
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      .card {
        margin: 0 auto;
      }
    }
  }

  &.cart {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .col-2 {
      max-width: 70%;
      width: 100%;

      h1 {
        margin-bottom: 1rem;
      }

      ul {
        display: grid;
        gap: 1rem;

        li {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

          div:nth-child(3) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          div:nth-child(4) {
            text-align: center;
          }

          .cart-item {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            align-items: center;

            img.small {
              max-width: 5rem;
              width: 100%;
            }

            select {
              padding: 0.2rem;
              border-radius: 3px;
              font-size: 0.9rem;
            }

            button {
              @include button;
            }
          }
        }
      }
    }

    .col-1 {
      max-width: 25%;
      width: 100%;
      margin: 2rem 0;
      .card {
        &.card-body {
          padding: 1rem;
          background-color: #f5f5f5;
          border-radius: 5px;
          ul {
            li {
              &:not(:last-child) {
                margin-bottom: 1rem;
              }

              &.sub-total {
                box-shadow: none;
              }

              h2 {
                font-size: 1.2rem;
                text-align: center;
              }

              button {
                @include button;
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      display: block;
      .col-1,
      .col-2 {
        max-width: initial;
      }
    }
  }
}

.signIn-form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .form {
    font-size: 1.1rem;
    max-width: 350px;
    width: 100%;

    div:first-child {
      margin-bottom: 2rem;
    }

    div {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;

      h1 {
        margin: 0 auto;
      }

      label {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
      }

      input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
      }

      button {
        @include button;

        &.primary {
          display: block;
          width: 100%;
        }
      }
    }

    div:last-child {
      font-size: 0.8rem;
      display: flex;
      flex-direction: row;

      p {
        margin-right: 1rem;
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 3rem;
  min-height: 100vh;
}

header {
  grid-area: header;
  background-color: #203040;
  padding: 0 1rem;

  .brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    border: none !important;
  }
  a {
    color: #fff;
    padding: 0.5rem;
    border: 1px solid transparent;
    text-transform: capitalize;

    &:hover {
      // box-shadow: 0 0 1pt 0pt #fff;
      border: 1px solid #fff;
      border-radius: 3px;
    }
  }
  div:last-child {
    display: inline-block;
  }

  .dropdown {
    position: relative;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    bottom: -48px;
    width: 100px;
    padding: 0.5rem;
    background: #203040;
    border-radius: 3px;

    a {
      border: none;
      font-size: 0.8rem;
    }
  }
  .cart {
    position: relative;
    .badge {
      position: absolute;
      font-size: 0.8rem;
      background: gold;
      padding: 0.1rem 0.3rem;
      border-radius: 50%;
      color: initial;
      top: 0;
      right: -7px;
    }
  }
}

main {
  grid-area: main;
  padding: 1rem;

  .products-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    .card {
      display: flex;
      flex-direction: column;
      // border: 1px solid #c0c0c0;
      background-color: #f8f8f8;
      border-radius: 0.5rem;
      margin: 1rem;

      .medium {
        width: 100%;
        // max-width: 29rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        height: 300px;
        object-fit: cover;
      }

      .large {
        width: 100%;
      }

      &-body {
        padding: 1rem;
        text-align: left;

        & > * {
          margin-bottom: 0.5rem;
        }

        h1 {
          font-size: 1.8rem;
          padding: 1rem 0;
        }

        h2 {
          font-size: 1.6rem;
          padding: 1rem 0;
          color: initial;
        }

        .rating {
          @include rating;
        }
        .price {
        }
      }
    }
  }
}

.success {
  color: #20a020 !important;
}
.error {
  color: #a02020 !important;
}

.alert {
  padding: 1rem;
  border-radius: 5px;
}

.alert-info {
  background: #f5f7ab;
  color: #5c5e1c;
}

.alert-success {
  background: #b8ffc7;
  color: #2d743c;
}

.alert-error {
  background: #ffb6b6;
  color: #741717;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
}
