@import './mixins';
@import './spinner';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}

/* Commons */
img {
  width: 100%;
}

a {
  text-decoration: none;
  // &:hover {
  //   color: #ff8000;
  // }
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &.center {
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
  }

  &.top {
    // align-items: flex-start;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    gap: 1rem;
    align-items: flex-start;
    height: 100%;
    margin: 1rem 0;

    .col-1 {
      @include rating;
      .card {
        max-width: 400px;
      }
      ul {
        li {
          h1 {
            text-transform: capitalize;
          }
          p {
            margin: 0.5rem 0;
            &::first-letter {
              text-transform: capitalize;
            }
          }
        }

        li:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .card-body {
        padding: 1rem;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;

        li {
          button {
            padding: 0.5rem 1rem;
            // background: #f8d272;
            border-radius: 5px;
            border: none;
            font-size: 1rem;
            display: flex;
            margin: 0 auto;
            cursor: pointer;

            &.primary {
              background-color: #f0c040;
            }
            &.block {
              width: 100%;
              justify-content: center;
            }

            &:hover {
              background-color: darken(#f0c040, 10%);
            }
          }
        }
      }
    }

    .col-2 {
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      .card {
        margin: 0 auto;
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 3rem;
  min-height: 100vh;
}

header {
  grid-area: header;
  background-color: #203040;
  padding: 0 1rem;

  .brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    border: none !important;
  }
  a {
    color: #fff;
    padding: 0.5rem;
    border: 1px solid transparent;
    text-transform: capitalize;

    &:hover {
      // box-shadow: 0 0 1pt 0pt #fff;
      border: 1px solid #fff;
      border-radius: 3px;
    }
  }
}

main {
  grid-area: main;
  padding: 1rem;

  .products-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    .card {
      display: flex;
      flex-direction: column;
      // border: 1px solid #c0c0c0;
      background-color: #f8f8f8;
      border-radius: 0.5rem;
      margin: 1rem;

      .medium {
        width: 100%;
        // max-width: 29rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        height: 300px;
        object-fit: cover;
      }

      .large {
        width: 100%;
      }

      &-body {
        padding: 1rem;
        text-align: left;

        & > * {
          margin-bottom: 0.5rem;
        }

        h1 {
          font-size: 1.8rem;
          padding: 1rem 0;
        }

        h2 {
          font-size: 1.6rem;
          padding: 1rem 0;
          color: initial;
        }

        .rating {
          @include rating;
        }
        .price {
        }
      }
    }
  }
}

.success {
  color: #20a020 !important;
}
.error {
  color: #a02020 !important;
}

.alert {
  padding: 1rem;
  border-radius: 5px;
}

.alert-info {
  background: #f5f7ab;
  color: #5c5e1c;
}

.alert-success {
  background: #b8ffc7;
  color: #2d743c;
}

.alert-error {
  background: #ffb6b6;
  color: #741717;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
}
